Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
df["gender"].value_counts("Female")

Male      0.504756
Female    0.495244
Name: gender, dtype: float64

##### 2. Какое количество уникальных значений у поля InternetService?

In [3]:
pd.Series(df["InternetService"].unique()).size

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [4]:
df["TotalCharges"].describe()

count     7043
unique    6531
top       20.2
freq        11
Name: TotalCharges, dtype: object

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

Тип данных - объекты и по ним статистику типа медианы, среднего и стандартного отклонения не получишь)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [5]:
df["PhoneService"] = df["PhoneService"].replace('Yes', 1)

In [6]:
df["PhoneService"] = df["PhoneService"].replace('No', 0)

In [7]:
df["PhoneService"].head

<bound method NDFrame.head of 0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int64>

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [8]:
df["TotalCharges"] = df["TotalCharges"].replace(' ', np.nan, regex=True)

In [9]:
df["TotalCharges"] = df["TotalCharges"].astype('float32')

In [10]:
df["TotalCharges"].describe()

count    7032.000000
mean     2283.298340
std      2266.770508
min        18.799999
25%       401.450012
50%      1397.475098
75%      3794.737549
max      8684.799805
Name: TotalCharges, dtype: float64

In [11]:
df["TotalCharges"].fillna(0)

0         29.850000
1       1889.500000
2        108.150002
3       1840.750000
4        151.649994
           ...
7038    1990.500000
7039    7362.899902
7040     346.450012
7041     306.600006
7042    6844.500000
Name: TotalCharges, Length: 7043, dtype: float32

In [12]:
df["TotalCharges"].dtypes

dtype('float32')

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [13]:
df["Churn"].head

<bound method NDFrame.head of 0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object>

In [14]:
df["Churn"] = df["Churn"].replace('Yes', 1)
df["Churn"] = df["Churn"].replace('No', 0)

In [15]:
df["Churn"].head(5)

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [16]:
df[["StreamingMovies", "StreamingTV", "TechSupport"]] = df[["StreamingMovies", "StreamingTV", "TechSupport"]].replace('Yes', 1)

In [17]:
df[["StreamingMovies", "StreamingTV", "TechSupport"]] = df[["StreamingMovies", "StreamingTV", "TechSupport"]].replace('No', 0)

In [18]:
df[["StreamingMovies", "StreamingTV", "TechSupport"]] = df[["StreamingMovies", "StreamingTV", "TechSupport"]].replace('No internet service', 0)

In [19]:
df[["StreamingMovies", "StreamingTV", "TechSupport"]].head(10)

   StreamingMovies  StreamingTV  TechSupport
0                0            0            0
1                0            0            0
2                0            0            0
3                0            0            1
4                0            0            0
5                1            1            0
6                0            1            0
7                0            0            0
8                1            1            1
9                0            0            0

##### 8. Заполните пропуски в поле PhoneService значением 0

In [20]:
df["PhoneService"].fillna(0)

0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int64

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [21]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
df = df[columns]
float_columns = ['tenure', 'TotalCharges']
df[float_columns].astype('float32')
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

In [22]:
df.isnull().sum()

gender              0
tenure              0
PhoneService        0
TotalCharges       11
StreamingMovies     0
StreamingTV         0
TechSupport         0
Churn               0
dtype: int64

In [23]:
df['TotalCharges'].fillna(df['TotalCharges'].mean(), inplace=True)

In [24]:
df.isnull().sum()

gender             0
tenure             0
PhoneService       0
TotalCharges       0
StreamingMovies    0
StreamingTV        0
TechSupport        0
Churn              0
dtype: int64

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [25]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
X = df[features]
target = 'Churn'
y = df[target]

X_train, X_test, y_train, Y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [26]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [27]:
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
1695              0            1
1095              0            1
3889              0            1
3667              1            0
2902              1            0
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [28]:
df['tenure'].describe()

count    7043.000000
mean       32.371149
std        24.559481
min         0.000000
25%         9.000000
50%        29.000000
75%        55.000000
max        72.000000
Name: tenure, dtype: float64

In [29]:
df['tenure'].astype('float32')

0        1.0
1       34.0
2        2.0
3       45.0
4        2.0
        ...
7038    24.0
7039    72.0
7040    11.0
7041     4.0
7042    66.0
Name: tenure, Length: 7043, dtype: float32

In [30]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

Стандартизируем видимо потому, что большинство данных в дате - категориальные, приведенные к виду 0 и 1. Чтобы данные были соразмерны, проводим стандартизацию. Хотя сами по себе данные похожи на стандартное распределение)

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [31]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [32]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [33]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [34]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features', feature_processing),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 Pipeline(steps=[('feats',
                                  FeatureUnion(transformer_list=[('tenure',
                                                                  Pipeline(steps=[('selector',
                                                                                   NumberSelector(key='tenure')),
                                                                                  ('standard',
                                                                                   StandardScaler())])),
                                                                 ('TotalCharges',
                                                                  Pipeline(steps=[('selector',
                                                                                   NumberSelector(key='TotalCharges')),
                                                                                  ('standard',
                                                                                   StandardScaler())])),
                                                                 ('continuos_features',
                                                                  Pipeline(steps=[('selector',
                                                                                   ColumnSelector(key=['PhoneService',
                                                                                                       'StreamingMovies',
                                                                                                       'StreamingTV',
                                                                                                       'TechSupport']))])),
                                                                 ('gender',
                                                                  Pipeline(steps=[('selector',
                                                                                   ColumnSelector(key='gender')),
                                                                                  ('ohe',
                                                                                   OHEEncoder(key='gender'))]))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [35]:
pipeline.predict(X_test)

array([1, 0, 0, ..., 0, 1, 0])

In [38]:
preds = pipeline.predict_proba(X_test)[:, 1]
preds[:10]

array([0.71     , 0.01     , 0.       , 0.98     , 0.15     , 0.16     ,
       0.17     , 0.       , 0.38     , 0.4912381])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [41]:
from sklearn.metrics import roc_auc_score, log_loss

roc_auc = roc_auc_score(Y_test, preds)
log_loss = log_loss(Y_test, preds)

In [43]:
roc_auc

0.7903379723020287

In [44]:
log_loss

0.7688542677970598

### Сохраним наш пайплайн

In [45]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)

В итоге - я не поняла, в какое место необходимо размещать результат fit_transform gender pipeline и как разбивать на категории (не в ручную же только для выборки тестовой??)